.btn {
  @include btn-reset();

  width: 100%;
  padding: 11px;

  font: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  color: $btn_text;

  background: $btn_bg;
  border: 3px solid $btn_bg;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover,
  &:focus {
    background: $btn_bg-hover;
  }

  &:active {
    padding: 14px;

    background: $btn_bg-active;
    border: none;
  }

  &--video {
    position: relative;
    width: 65px;
    height: 65px;

    border: 4px solid $btn_bg;
    border-radius: 50%;

    @media (min-width: 768px) and (max-width: $tablet-width) {
      width: 90px;
      height: 90px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 26px;
      height: 26px;
      fill: $video_icon;

      transform: translate(-50%, -50%);

      @media (min-width: 768px) and (max-width: $tablet-width) {
        width: 38px;
        height: 38px;
      }
    }
  }
}
