.burger {
  display: none;

  &--closed,
  &--opened {
    @media (max-width: $tablet-width) {
      @include btn-reset();

      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      display: block;
      width: 50px;
      height: 50px;

      background-color: $burger_bg;
    }
  }

  &--opened {
    @media (max-width: $tablet-width) {
      background-color: $burger_bg-hover;
    }
  }

  &--closed:hover,
  &--closed:focus,
  &--opened:hover,
  &--opened:focus {
    background-color: $burger_bg-hover;
    border: 3px solid $burger_bg;
  }

  &--closed:active,
  &--opened:active {
    background-color: $burger_bg-active;
    transition: 0.4s;
  }
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 1px;

  background-color: $burger_line;
  transform: translate(-50%, -50%);

  .burger--opened & {
    height: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 22px;
    height: 1px;

    background-color: $burger_line;
    transition: 0.4s;
  }

  .burger--closed &::before {
    top: -6px;
  }

  .burger--opened &::before {
    width: 30px;
    top: 0;
    left: -4px;

    background-color: $burger_line-opened;

    transform: rotate(-45deg);
  }

  .burger--closed &::after {
    top: 6px;
  }

  .burger--opened &::after {
    width: 30px;
    top: 0;
    left: -4px;

    background-color: $burger_line-opened;

    transform: rotate(45deg);
  }
}
