.feedback {
  width: 327px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  p {
    @include text-reset();

    margin-bottom: 20px;

    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: $feedback_text-desktop;

    @media (max-width: $tablet-width) {
      width: 321px;
      margin: 0 auto;
      margin-bottom: 30px;

      font-size: 18px;
      color: $feedback_text;
    }

    @media (max-width: $mobile-width) {
      width: 288px;
      margin-bottom: 20px;
    }
  }
}


