// Fonts
$main-font: "Open Sans", "Tahoma", sans-serif;

// Viewports
$mobile-width-min: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Descriptive variables for colors
$black: #000000;
$black-light:#070707;
$black-lighten: #1c1c1c;
$black-lightest: #1f1f1f;

$grey-darkest: #131314;
$grey-darken: #141517;
$grey-dark: #48494d;
$grey: #c9ccd4;
$grey-light: #f6f6f6;
$grey-lightest: #f6f7f9;

$white: #ffffff;
$accent: #0ad9c6;
$error: #ff0000;

// Function variables for colors
$page_text: $black;
$page_bg: $white;

$page-header_bg: $grey-darkest;
$page-header-about-us_bg: $grey-darkest;
$page-header_tagline: $white;
$page-header_descr: rgba($white, 0.8);


$main-nav_list-bg: $white;
$main-nav_link-bg: $grey-darkest;
$main-nav_link-bg-opened: $grey-light;
$main-nav_link-border: rgba($white, 0.2);
$main-nav_link: rgba($white, 0.7);
$main-nav_link-opened: $grey-dark;
$main-nav_link-hover: $accent;
$main-nav_link-active: rgba($accent, 0.5);
$main-nav_border: rgba($white, 0.2);

$burger_bg: $accent;
$burger_bg-hover: $white;
$burger_bg-active: rgba($accent, 0.5);
$burger_line: $black;
$burger_line-opened: rgba($grey-darken, 0.2);

$feedback_text: $black;
$feedback_text-desktop: $white;

$form-input_bg: $white;
$form-input_border: $grey;
$form-input_border-error: $error;
$form-input_text: rgba($black-lighten, 0.5);

$btn_bg: $accent;
$btn_bg-hover: $white;
$btn_bg-active: rgba($accent, 0.5);
$btn_text: $black;
$btn_text-hover: $accent;
$btn_text-active: rgba($accent, 0.5);

$about-us_title: $black-lightest;
$about-us_before: $accent;

$types_bg: $grey-lightest;
$types_title: $black-lightest;
$types_card-bg: $grey-darkest;
$types_card-text: $grey-darkest;
$types_card-text-hover: $accent;
$types_card-text-active: rgba($grey-darkest, 0.5);
$types_element: $accent;

$video_bg: $grey-darkest;
$video_title: $white;
$video_text: rgba($white, 0.7);
$video_img-bg: $grey-lightest;
$video_icon: $black-light;

$page-footer_title: $black-lightest;
$page-footer_text: rgba($black, 0.7);
$page-footer_img: $grey-lightest;

$contacts_icon: $accent;
$contacts_link: rgba($black, 0.5);
$contacts_link-hover: $accent;
$contacts_link-active: rgba($accent, 0.5);
